/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #D2E2E2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-brand {
  display: flex;
  align-items: center; /* Center the logo and text vertically */
}

.navbar-logo {
  height: 50px; /* Set the height of the logo */
  width: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Optional: Space between the logo and text */
  margin-left: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-item {
  margin-left: 2rem;
}

.navbar-item a {
  text-decoration: none;
  color: #555;
  padding: 0.5rem 0;
  display: block;
  position: relative;
}

.navbar-item.active a {
  color: #000;
  font-weight: bold;
}

.navbar-item.active a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.navbar-item:not(.navbar-profile):hover a {
  color: #000;
}

/* Profile picture styles */
.navbar-profile {
  margin-left: 2rem;
}

.profile-link {
  display: block;
  width: 40px;
  height: 40px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.1);
  border-color: #000;
}
.auth-buttons {
  margin-left: auto; /* Align buttons to the right */
  display: flex;
  gap: 15px;
}

.auth-button {
  background-color: #4CAF50; /* Customize the button color */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  position: relative; /* For positioning the counter */
}

.auth-button:hover {
  background-color: #45a049; /* Button hover effect */
}

/* Styling the counter */
.auth-counter {
  background-color: #fff;
  color: #4CAF50;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  font-weight: bold;
}
